# Директории виртуальных окружений
venv/
.env/

# Файлы с кэшированием
__pycache__/
*.pyc
*.pyo

# IDE и редакторы
.vscode/
.idea/

# Логи
*.log

# Установленные пакеты
node_modules/

# Если ты используешь macOS, добавь:
.DS_Store

# Другие файлы, которые не следует отслеживать
*.sqlite3
*.db

.venv
.env
__pycache__/
.venv/
__pycache__/
.env
.env.local
